button {
    position: relative;
    color: hsl(0, 0%, 52%);
    background-color: var(--navbarColor);
    border-radius: 5px;
    border: solid 1px hsl(0, 0%, 52%);
    align-items: center;
    font-size: 14px !important;
}

.Back-btn {
    margin-left: 10dvw !important;
    width: 120px !important;
    height: 35px;
}

button:hover {
    border-color: hsl(20, 10%, 40%);
}

.icon-left {
    width: 30px !important;
    margin-left: -15px !important;
    color: var(--brandColor);
}

button span {
    padding-left: 5px;
}

.imgDet {
    width: 100%;
    height: 270px;
}

.border-btn {
    position: relative;
    border: solid 1px var(--navbarColor) !important;
    width: 70px !important;
    margin-left: 5px;
    color: hsl(0, 0%, 52%);
    background-color: var(--navbarColor);
    border-radius: 5px;
    height: 25px;
    align-items: center;
    font-size: 12px !important;
}

h1 {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 900px !important;
}

a {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 900px !important;
    color: hsl(0, 0%, 52%) !important;

}

h5,
.border_countries {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 900px !important;
    font-size: 15px !important;
    margin-left: 0 !important;
}

h1,
h5,
button,
.border_countries {
    color: var(--brandColor) !important;

}

@media (max-width:500px) {
    .border-btn {
        margin-left: 10px !important;
        margin-bottom: 20px !important;
    }

    .imgDet {
        height: 200px;
    }

    .icon-left {

        width: 25px !important;
        margin-left: -10px !important;

    }


    .border_countries {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px !important;
    }

    .name-country {
        margin-left: 10px !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }

    .left-details {
        margin-top: 10px !important;
    }

    .Back-btn {
        width: 100px !important;
    }
}

@media (max-width:350px) {
    .border-btn {
        width: 50px !important;
    }

    .Back-btn {
        width: 80px !important;
    }
}

@media (max-width:265px) {
    .border-btn {
        width: 40px !important;
    }

    .Back-btn {
        width: 60px !important;
    }
}