.searchbox {
    position: relative; 
    min-width: 220px;
    width: 100% !important;
    margin-left: 10dvw !important;
  
  }
  
  .search-input {
    width: 100% !important;
    height: 40px;
    padding-left: 35px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 30px; 
  }
  
  .search-icon {
    position: absolute;
    top: 12px; 
    left: 10px; 
    pointer-events: none;
    color: grey;
  }
  @media (max-width:775px){
    .searchbox{
    
      min-width: 0px !important;
      margin-left: 20px !important;
      width: 250px !important;
    }
    

  }
  @media (max-width:300px){
    .searchbox{
      margin-left: 12px !important;
      width: 180px !important;
    }
    .search-input{
      font-size: 12px !important;
    }
  }
    @media (max-width:200px){
      .searchbox{
      margin-left: 5px !important;  
        width: 150px !important;
      }
      .search-input{
        font-size: 9px !important;
      }
    }