:root{
  --backgrandColor:hsl(0, 0%, 98%);
  --navbarColor:#fff;
  --brandColor:#000;
}

body {
  margin: 0px;
  overflow-x: hidden;
  width: 100% !important;
  background-color: var(--backgrandColor) !important;
}
